/* core */
body {
  height: 100vh;
  margin: 0 auto;
  /* margin-right: 5em;
  margin-left: 5em; */
  font-family: Arial, sans-serif;
  font-size: 1em;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1em;
}

/* sections */
header {
  height: 155px;
  background-color: white;
  border-bottom: 5px solid #7d97ad;
  text-align: right;
  grid-auto-rows: minmax(auto, 155);
  width: 100%;
}

header img {
  position: absolute;
  float: left;
  width: 100px;
  height: 100px;
  background-color: lightgray;
  margin-top: 2em;
}

header h1, h3 {
  margin: auto 0;
  text-align: right;
}

main {
  margin-top: 2em;
  background-color: #333;
  height: 400px;
}

#header-title {
  grid-column: span 3;
  grid-row: span 3;
  align-items: flex-end;
  text-align: bottom;
  /* background-color: lightblue; */
  margin-top: 2em;
}

#featured {
  margin-top: 2em;
  background-color: lightgray;
  /* height: 280px; */
}

/* card styles */
.card {
  display: block;
  height: inherit;
  width: 100vw;
  text-align: center;
}

/* card styles responsive */
#card-left {
  grid-column: 0/4;
  grid-row: 1;
  background-color: red;
}

#card-middle {
  grid-column: 0/4;
  grid-row: 2;
  background-color: green;
}

#card-right {
  grid-column: 0/4;
  grid-row: 3;
  background-color: blue;
}
