/* core */
body {
  /* height: 100vh; */
  /* height: 100%; */
  /* min-height: 100vh; */
  width: 100vw;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1em;
  /* background-color: rgb(220, 220, 220); */
  background-color: white;
}

h2 {
  text-align: left;
  font-size: 2em;
  margin-left: 2em;
  color: black;
}

/* header */
header {
  display: table;
  height: 100%;
  min-height: 155px;
  background-color: white;
  border-bottom: 5px solid #7d97ad;
  text-align: right;
  grid-auto-rows: minmax(auto, 155);
  width: 100%;
}

header img {
  position: absolute;
  float: left;
  width: 100px;
  height: 100px;
  background-color: lightgray;
  margin-top: 2em;
}

header h1, h3 {
  margin: auto 0;
  text-align: right;
}

#main-header-title {
  display: table-cell;
  vertical-align: middle;
  padding: 1em;
}

#main-header-logo {
  margin: 2em;
}

/* main */
main {
  margin-top: 2em;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

/* footer */
footer {
  height: 60px;
  background-color: white;
}

#content-bg-img {
  display: table; /* TODO: fix this, id name is confusing */
  z-index: -1;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/nadine-shaabana-161337-unsplash.jpg");
  /* Photo by Nadine Shaabana on Unsplash */
}

#content-main {
  display: table-cell;
  font-family: Verdana, sans-serif;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: rgba(0,0,0,0.4);
  padding: 1em;
}

/* featured content grid area definitions */
#content-featured-title {
  grid-area: title;
  background-color: white;
}

#card1 {
  grid-area: card1;
}

#card2 {
  grid-area: card2;
}

#card3 {
  grid-area: card3;
}

/* featured content grid area */
#content-featured {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "title"
    "card1"
    "card2"
    "card3";
}

/* card grid row definitions */
.card-img {
  grid-area: img;
}

.card-title {
  grid-area: label;
  padding: 4px;
}

.card-link {
  grid-area: link;
  padding: 4px;
}

/* card grid */
.card {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "img"
    "label"
    "link";
  font-family: Verdana, sans-serif;
  font-size: 1em;
  color: #333;
  background-color: #fff;
  border-radius: 10px;
  margin: 2em;
  margin-top: 0;
}

.card img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

/* styles for displays > 450px wide */
@media screen and (min-device-width: 450px) {
  .card {
    padding: 1em;
    box-shadow:  2px 2px 10px 0px rgba(0, 0, 0, 0.2);
  }

  #content-featured {
    grid-template-areas:
    "title . ."
    "card1 card2 card3";
  }
}

/* styles for displays > 450px wide */
@media screen and (min-device-width: 950px) {
.card {
  margin: 2em;
}

  body {
    padding-left: 2em;
    padding-right: 2em;
  }
}
